/build/*
!/build/.gitignore
!/build/entrypoint.makefile
!/build/entrypoint.sh
!/build/shoe.makefile
!/build/shoemaker.makefile
!/build/shoemaker.sh
!/build/shoe.sh

/doc/*
!/doc/entrypoint.md
!/doc/images
!/doc/instructions
!/doc/shoe.md
!/doc/shoemaker.md

/dump/*
!/dump/.gitignore

/recipes/*
!/recipes/.gitignore
!/recipes/entrypoint
!/recipes/shoe
!/recipes/shoemaker

shoemaker-completion.sh
